body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
    margin-top: auto;
}
.member-card {
    margin-bottom: 20px;
    box-shadow: 0 2px 5px black;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.card-body{
    background-color: #087cfc;
}