
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
    margin-top: auto;
}
.member-card {
    margin-bottom: 20px;
    box-shadow: 0 2px 5px black;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.card-body{
    background-color: #e9ecef;
}
.logo{
    border-radius: 50%;
}
#notificationBell:hover{
    background-color: #005bb5;
}
#darkButton{
    float: right;
    background-color: #087cfc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
#darkButton:hover{
    background-color: #005bb5;
}
.member-card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.member-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.pagination-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 60px; /* Space above the footer */
    text-align: justify;
}

.pagination {
    display: inline-flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination .page-item .page-link {
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 4px;
    color: #007bff;
    border: 1px solid #007bff;
    text-decoration: none;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

#filterSection {
    display: none;
}